<div class="container mt-5">
  <ul class="checkout-steps">
    <li class="step-container">
      <div class="step" [class.active]="step === 'login'">
        <i class="bi" [class.bi-check]="isStepCompleted('login')"></i>
        <span *ngIf="!isStepCompleted('login')">1</span>
      </div>
      <div class="step-text">Login</div>
    </li>
    <div class="line"></div>
    <li class="step-container">
      <div class="step" [class.active]="step === 'address'">
        <i class="bi" [class.bi-check]="isStepCompleted('address')"></i>
        <span *ngIf="!isStepCompleted('address')">2</span>
      </div>
      <div class="step-text">Address</div>
    </li>
    <div class="line"></div>
    <li class="step-container">
      <div class="step" [class.active]="step === 'payment'">
        <i class="bi" [class.bi-check]="isStepCompleted('payment')"></i>
        <span *ngIf="!isStepCompleted('payment')">3</span>
      </div>
      <div class="step-text">Payment</div>
    </li>
    <div class="line"></div>
    <li class="step-container">
      <div class="step" [class.active]="step === 'confirm'">
        <i class="bi" [class.bi-check]="isStepCompleted('confirm')"></i>
        <span *ngIf="!isStepCompleted('confirm')">4</span>
      </div>
      <div class="step-text">Confirm</div>
    </li>
    <div class="line"></div>
    <li class="step-container">
      <div class="step" [class.active]="step === 'done'">
        <i class="bi" [class.bi-check]="isStepCompleted('done')"></i>
      </div>
      <div class="step-text">Done</div>
    </li>
  </ul>
  
  

    <!-- Your content for each step goes here -->
    @if (step === 'login') {
      <app-login (stepChange)="onStepChange($event)"></app-login>
    }
    @if (step === 'address') {
      <app-address (stepChange)="onStepChange($event)"></app-address>
    }
    @if (step === 'payment') {
      <!-- TODO: embed the stripe payment for a better look -->
    }
    @if (step === 'confirm') {
      <app-confirm (stepChange)="onStepChange($event)"></app-confirm>
    }
    @if (step === 'done') {
      <app-checkout-succes></app-checkout-succes>
    }
  </div>