<header class="bg-dark text-light">
  <div class="px-3 py-2 text-bg-dark border-bottom">
    <div class="container d-flex flex-column align-items-center">

      <!-- Centered and larger title -->
      <span class="title" routerLink="/">
        <h1 class="my-2 my-lg-0 mx-auto text-decoration-none display-4">UNFASHIONED</h1>
      </span>
    
      
      <!-- List and Icons -->
      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small d-flex align-items-center">
        <li>
          <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white">Home</a>
        </li>
        <li>
          <a routerLink="/store" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white">Store</a>
        </li>
        <!-- <li>
          <a class="nav-link text-white">Story</a>
        </li>  -->
        <li>
          <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" href="#" class="nav-link text-white">Contact</a>
        </li>
        
        <!-- Icons to the left of nav -->
        <li>
          <a routerLink="/saved" class="nav-link nav-icon text-white me-3">
            <i class="fa-solid fa-heart-crack"></i>
          </a>
        </li>
        <li>
          <a routerLink="/cart" class="nav-link nav-icon text-white me-3 position-relative">
            <i class="fa-solid fa-bag-shopping"></i>
            @if (cartSize != 0 && cartSize <= 9) {
              <span class="badge badge-light bg-secondary position-absolute top-0 end-0 rounded-circle" style="margin-right: -3px;">{{ cartSize }}</span>
            } 
            @if (cartSize >= 10) {
              <span class="badge badge-light bg-secondary position-absolute top-0 end-0 rounded" style="margin-right: -6px;">{{ cartSize }}</span>
            }
          </a>
        </li>
        <li>
          <a routerLink="/login" class="nav-link nav-icon text-white">
            <i class="fa-solid fa-circle-user"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>
</header>
