<header class="bg-dark text-white">
  <div class="px-3 py-2 text-bg-dark border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <h1 href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"> UNFASHIONED</h1>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-secondary">
              <i class="bi bi-house-fill mx-auto mb-1"></i>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <i class="bi bi-grid"></i>
              Store
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <i class="bi bi-people-fill"></i>
              Contact
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <i class="bi bi-info-circle"></i>
              About
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
