.img-hover {
    transition: transform 0.3s ease; /* Add a default transition */
  }
  
  .img-hover:hover {
    transform: scale(1.1); /* Adjust the scaling factor as needed */
  }
  
  .centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
      img {
        transition: filter 0.5s, transform 0.5s; /* Add transition for smooth changes */
    }
  }
  
  .placeholder-image {
    width: 100%;
    height: 50vh; /* Adjust height based on your design */
    background-color: rgb(138, 138, 138); /* Placeholder background color */
  }