<!-- app.component.html -->

<app-store-options></app-store-options>

@defer (when !!products) {
<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
  <div class="col" *ngFor="let product of products">
    <div class="p-3 rounded">
        <img (click)="setSelectedProduct(product)" routerLink="/product" src="{{ product.thumbnail_url }}" class="img-fluid rounded img-hover">
        <div class="p-3 mt-3">
          <h5 class="card-title text-center m-3"> {{ product.name }}</h5>
          <div class="d-flex justify-content-center">
            <div class="btn-group bg-dark">
              <button type="button" class="btn btn-sm btn-outline-light">Add to cart</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
  }
  @placeholder {
      <div>
        <div class="row">
          <div class="col">
            <div class="placeholder-image placeholder"></div>
            <div class="p-3">
              <h5 class="card-title text-center m-3 placeholder-glow">
                <span class="placeholder col-6"></span>
              </h5>
        
              <div class="d-flex justify-content-center">
                    <a href="#" tabindex="-1" class="btn btn-dark disabled placeholder col-2"></a>
              </div>
            </div>
          </div>  
          <div class="col">
            <div class="placeholder-image placeholder"></div>
            <div class="p-3">
              <h5 class="card-title text-center m-3 placeholder-glow">
                <span class="placeholder col-6"></span>
              </h5>
        
              <div class="d-flex justify-content-center">
                    <a href="#" tabindex="-1" class="btn btn-dark disabled placeholder col-2"></a>
              </div>
            </div>
          </div>  
          <div class="col">
            <div class="placeholder-image placeholder"></div>
            <div class="p-3">
              <h5 class="card-title text-center m-3 placeholder-glow">
                <span class="placeholder col-6"></span>
              </h5>
        
              <div class="d-flex justify-content-center">
                    <a href="#" tabindex="-1" class="btn btn-dark disabled placeholder col-2"></a>
              </div>
            </div>
          </div>  
        </div>
      </div>
  }
