.img-hover {
    transition: transform 0.3s ease; /* Add a default transition */
  }
  
  .img-hover:hover {
    transform: scale(1.1); /* Adjust the scaling factor as needed */
  }

  .placeholder-image {
    width: 100%;
    height: 200px; /* Adjust height based on your design */
    background-color: #ddd; /* Placeholder background color */
  }