<app-store-options></app-store-options>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let product of products">
        <div class="p-3 rounded">
          <img src="assets/Tshirt1.png" class="img-fluid rounded img-hover">
          <div class="p-3">
            <h5 class="card-title text-center m-3">Oversized Tee</h5>
            <div class="d-flex justify-content-center">
              <div class="btn-group bg-dark">
                <button type="button" class="btn btn-sm btn-outline-light">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        <!-- <div class="col">
          <div class="p-3 rounded">
            <img src="assets/Tshirt1.png" class="img-fluid rounded img-hover">
            <div class="p-3">
              <h5 class="card-title text-center m-3">Oversized Tee</h5>
              <div class="d-flex justify-content-center">
                <div class="btn-group bg-dark">
                  <button type="button" class="btn btn-sm btn-outline-light">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3 rounded">
            <img src="assets/Tshirt3.png" class="img-fluid rounded img-hover">
            <div class="p-3">
              <h5 class="card-title text-center m-3">Oversized Tee</h5>
              <div class="d-flex justify-content-center">
                <div class="btn-group bg-dark">
                  <button type="button" class="btn btn-sm btn-outline-light">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3 rounded">
            <img src="assets/Tshirt2.png" class="img-fluid rounded img-hover">
            <div class="p-3">
              <h5 class="card-title text-center m-3">Oversized Tee</h5>
              <div class="d-flex justify-content-center">
                <div class="btn-group bg-dark">
                  <button type="button" class="btn btn-sm btn-outline-light">Add to cart</button>
                </div>
              </div>
            </div>
          </div> 
        </div> -->
      </div>