  <div class="container mt-5">
    <div class="row">
      <div class="col text-center">
        <h1 class="display-4 mb-4 fw-bolder"> The UNFASHIONED Story</h1>
        <hr>
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-md-8 offset-md-2 text-center">
        
    <p class="lead">
        Unfashioned, born on the streets of Aarhus, Denmark, is more than just a
        streetwear brand; it's a representation of the vibrant and eclectic spirit
        of the city. In the heart of Aarhus, where modern urban culture meets
        timeless traditions, Unfashioned has carved its niche.
      </p>
  
      <p>
        Inspired by the dynamic street culture and the unique blend of historic
        and contemporary elements in Aarhus, Unfashioned embodies a style that
        transcends trends. Our clothing is not just a fashion statement; it's a
        reflection of the diverse and evolving stories written on the streets of
        this beautiful Danish city.
      </p>
  
      <br>
  
      <p>
        At Unfashioned, we believe in breaking away from conventional fashion
        norms. Our designs draw inspiration from the city's ever-changing
        landscapes, from the picturesque streets of Old Town to the modern
        architecture of Dokk1. Each piece tells a story of urban exploration,
        creativity, and the people who make Aarhus a vibrant and inclusive
        community.
      </p>
  
      <p>
        We take pride in our commitment to sustainability and quality
        craftsmanship. Every garment is carefully curated, ensuring that it not
        only captures the essence of Aarhus but also stands the test of time.
        Unfashioned is more than clothing; it's a narrative woven into the fabric
        of Aarhus' streets, embracing the past, present, and future.
      </p>
  
      <p class="lead">
        Join us on this journey as we redefine streetwear, one story at a time.
        Unfashioned: Where Aarhus meets style, and tradition meets the
        avant-garde.
      </p>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col text-center">
        <h1 class="display-4 mb-4 fw-bolder">Meet the Founder</h1>
        <hr>
      </div>
    </div>
  
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <img src="assets/images/Lucas.jpg" alt="Lucas - Founder" class="rounded-circle custom-thumbnail" style="width: 200px; height: 200px;">
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-md-8 offset-md-2 text-center">
        <p class="lead">Hello, I'm Lucas, the founder of Unfashioned. As a passionate individual, I'm dedicated to bringing unique and authentic styles to you. While Unfashioned may be a one-person team, every piece is crafted with care and creativity.</p>
      </div>
    </div>
  </div>