<div class="container mt-5 bg-light">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card border-0 bg-transparent">
          <div class="card-body text-center">
            <i class="bi bi-exclamation-circle-fill text-dark" style="font-size: 6rem;"></i>
            <h2 class="card-title">Checkout Canceled</h2>
            <p class="card-text">It seems your checkout process was canceled.</p>
  
            <div class="mb-3"> <!-- Added margin-bottom class -->
                <a href="/store" class="btn btn-outline-dark">Continue Shopping</a>
            </div>
            <a href="/cart" class="btn btn-dark">Go to Cart</a>

          </div>
        </div>
      </div>
    </div>
  </div>
  