<div class="bg-body-tertiary rounded-3 row">
  <!-- Horizontal Navigation -->
  <div class="col">
    <ul class="list-inline">
      <li class="list-inline-item p-3">
        <span class="text-decoration-none text-dark fw-bold">All</span>
      </li>
      <li class="list-inline-item p-3">
        <span class="text-decoration-none text-dark">Tee's</span>
      </li>
      <li class="list-inline-item p-3">
        <span class="text-decoration-none text-dark">Sweatshirts</span>
      </li>
      <li class="list-inline-item p-3">
        <span class="text-decoration-none text-dark">Bottoms</span>
      </li>
      <li class="list-inline-item p-3">
        <span class="text-decoration-none text-dark">Accessories</span>
      </li>
    </ul>
  </div>

  <!-- Icon in the right corner -->
  <div class="container col-auto">
    <div class="row">
      <div class="d-flex justify-content-end">
        <div class="p-3">
          <i class="fa fa-search fs-3 text-body-tertiary"></i>
        </div>
        <div class="p-3">
          <i class="fa fa-bars fs-3 text-body-tertiary"></i>
        </div>
      </div>
    </div>
  </div>
  




<!-- <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="sortFilter">Sort By:</label>
        <select class="form-control" id="sortFilter" (change)="selectedSort">
            <option value="priceLowToHigh">Latest</option>
            <option value="priceLowToHigh">Popular</option>
            <option value="priceLowToHigh">Price Low to High</option>
            <option value="priceHighToLow">Price High to Low</option>
         Add more sorting options as needed
        </select>
      </div>
    </div> -->