.title {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;

  h1 {
    text-decoration: none;
    font-family: "Six Caps", sans-serif;
    font-size: 10.5rem;
    font-weight: bold;
    transition: transform 1.5s ease-in-out, color 1.5s ease-in-out;
    color: #3d3f42;
  }

  &:hover h1 {
    color: #ffffff;
  }
}

.active-link {
  color: white !important;
}

.nav-link {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #6e7074;
  transition: transform 0.35s ease-in-out, color 0.4s ease-in-out;
}

.nav-link:hover {
  color: white !important;
}

.custom-nav {
  flex-direction: row;
}

@media (max-width: 767px) {
  .custom-nav {
    flex-direction: column;
  }
  
  .title h1 {
    font-size: 8rem;
    margin-bottom: 10px;
  }

  .navbar-toggler {
    display: block;
  }

  .d-lg-flex {
    display: none;
  }
  
  .navbar-nav.d-lg-none {
    display: none;
  }
}