header {
    width: 100%;
    z-index: 1000; /* Ensure the header appears above other content */
  
    .title {
      margin: 0;
    }

  .container {
    .d-flex {
      align-items: center;

      .align-items-center {
        a {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
  }
  
}

.title {
  text-decoration: none;
  cursor: pointer;
  display: inline-block; /* Ensures the hover effect works smoothly */

  h1 {
    text-decoration: none;
    font-family: 'pixim';
    font-weight: bold;
    transition: transform 0.8s ease-in-out, color 0.3s ease;
    color: #ffffff; /* Initial text color */
  }

  &:hover h1 {
    transform: scale(1.1) rotate(1deg); /* Scaling up on hover */
    color: #df4a82; /* Change text color on hover */
  }
}

.navbar-toggler {
  display: none; /* Hide the list icon by default */
}

.navbar-collapse {
  border-top: none; /* Remove the white line */
}

/* Responsive styling for smaller screens */
@media (max-width: 767px) {
  .title h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .navbar-toggler {
    display: block; /* Display the list icon */
  }

  .d-lg-flex {
    display: none; /* Hide the list for screens smaller than lg */
  }
  
  .navbar-nav.d-lg-none {
    display: none; /* Hide the list for screens smaller than lg */
  }
}
/* Custom CSS */
.active-link {
  color: white !important; /* Change text color for active link */
}

.nav-link {
  font-family: 'Work Sans', sans-serif;
  color: rgb(192, 192, 192);
  transition: transform 0.8s ease, color 0.4s ease;
}

.nav-link:hover {
  transform: scale(1.1); /* Scaling up on hover */
  color: white !important; /* Change text color to white on hover */
}


