<body class="bg-light">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h2 class="text-center mb-4">Unfashioned - Privacy Policy</h2>
  
          <p>
            Welcome to Unfashioned! This Privacy Policy outlines how Unfashioned collects, uses, and protects your personal
            information when you visit our website.
          </p>
  
          <h3>1. Information We Collect</h3>
          <p>
            Unfashioned may collect personal information, including but not limited to your name, email address, and
            shipping address when you create an account or make a purchase.
          </p>
  
          <h3>2. Security</h3>
          <p>
            Unfashioned is committed to ensuring that your information is secure. We have implemented suitable physical,
            electronic, and managerial procedures to safeguard and secure the information we collect online.
          </p>
  
          <p class="text-center mt-5">
            Thank you for trusting Unfashioned with your information. We value your privacy and strive to provide a
            secure and enjoyable shopping experience.
          </p>
  
        </div>
      </div>
    </div>