/* contact.component.css */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.rotating-hue {
  animation: rotateHue 10s linear infinite;
}

@keyframes rotateHue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}