  .placeholder-image {
    border-radius: 35px;
    margin-top: 20px;
    width: 100%;
    height: 50vh; /* Adjust height based on your design */
    background-color: rgb(138, 138, 138); /* Placeholder background color */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
  }

  .singular-product {
    text-align: center; /* Ensure the container itself is centered */
  }

  .singular-product:hover {
    .img-hover {
      transform: scale(1.1);
      cursor: pointer;
    }
    .hidden-text {
      transform: scale(1.1);
      color: black;
    }
  }

  .img-hover {
  transition: transform 0.15s ease-in-out; /* Add a default transition */
  }

  .clothing-title {
    margin: 3px 0; /* Adjust margin as needed */
    text-transform: uppercase;
    // text-align: left; /* Align text to the left */
    font-weight: 450;
    font-size: 1.2em;
  }

  .hidden-text {
    transition: scale 0.15s ease-in-out, 0.15s ease-in-out;
    color: white;
  }
