<!-- Your HTML form -->
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-4">
          <form>
            <div class="modal-content rounded-4 ">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                  <h1 class="fw-bold mb-0 fs-2">Please sign in</h1>
                </div>
                <div class="modal-body p-5 pt-0">
                  <form class="">
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
                      <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
                      <label for="floatingPassword">Password</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-dark" type="submit">Sign up</button>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-dark" type="submit" (click)="onSignIn($event)">Sign in</button>
                    <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
                    <hr class="my-4">
                    <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
                    <!-- Google Sign-In link with icon -->
                    <a class="btn btn-outline-dark w-100 py-2 mb-2">
                        <i class="fa-brands fa-google"></i> Sign in with Google
                    </a>
                    <!-- Google Sign-In link with icon -->
                    <a class="btn btn-outline-dark w-100 py-2 mb-2">
                        <i class="fa-brands fa-facebook"></i> Sign in with Facebook
                    </a>
                  </form>
                </div>
              </div>
          </form>
      </div>
      
  </div>
</div>
