<!-- Successfully Paid Page -->
<div class="container mt-5 bg-light">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-0 bg-transparent">
                <div class="card-body text-center">
                    <i class="bi bi-check-circle-fill text-dark" style="font-size: 6rem;"></i>
                    <h2 class="card-title">Thanks for your purchase!</h2>
                    <p class="card-text">Your payment was successful, and your order has been confirmed.</p>

                    <div class="mb-3"> <!-- Added margin-bottom class -->
                        <a href="/store" class="btn btn-outline-dark">Continue Shopping</a>
                    </div>
                    <a href="/order-history" class="btn btn-dark">View Order History</a>
                </div>
            </div>
        </div>
    </div>
</div>
