// styles.scss
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; // Adjust the height as needed
  }
  .fontSize {
    font-size: 110px;
    margin: 40px;
  }