<div class="bg-dark text-white">
<app-header></app-header>

  <main class="m-5 bg-dark text-white">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col">
            <div class="bg-dark text-white p-3 rounded">
              <img src="assets/Tshirt1.png" class="img-fluid rounded img-hover">
              <div class="p-3">
                <h5 class="card-title text-center m-3">Oversized Tee</h5>
                <div class="d-flex justify-content-center"> <!-- Center the content -->
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-light">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="bg-dark text-white p-3 rounded">
            <img src="assets/Tshirt2.png" class="img-fluid rounded img-hover">
            <div class="p-3">
              <h5 class="card-title text-center m-3">Oversized Tee</h5>
              <div class="d-flex justify-content-center"> <!-- Center the content -->
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-light">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="bg-dark text-white p-3 rounded">
            <img src="assets/Tshirt3.png" class="img-fluid rounded img-hover">
            <div class="p-3">
              <h5 class="card-title text-center m-3">Oversized Tee</h5>
              <div class="d-flex justify-content-center"> <!-- Center the content -->
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-light">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
</div>
