<!-- <section class="centered-image" id="scalingSection">
  <div  class="allText" appScrollAnimation>
    <h2>RATTLE THE</h2>
    <h1 id="scrollingH1" data-text="Chains of conformity" appScrollAnimation>Chains of conformity</h1>
    <p class="missing lead">Missing since 1994.</p>

    

    <p class="lead">
      Icons of Defiance, Symbols of Strength. 
      <br>
      Unleash the Fury of Freedom.
    </p>
  </div>
</section> -->

<section class="centered-image" id="scalingSection">
  <div class="skulls-container">
    <img class="skull2" src="assets/images/skull jaw.png" alt="" appScrollAnimation>
    <img class="skull" src="assets/images/skull head.png" alt="" appScrollAnimation>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <h1 class="display-4 mb-4 fw-bolder">The Unfashioned Story</h1>

    <p class="lead">
      Unfashioned, born on the streets of Aarhus, Denmark, is more than just a
      streetwear brand; it's a representation of the vibrant and eclectic spirit
      of the city. In the heart of Aarhus, where modern urban culture meets
      timeless traditions, Unfashioned has carved its niche.
    </p>

    <p>
      Inspired by the dynamic street culture and the unique blend of historic
      and contemporary elements in Aarhus, Unfashioned embodies a style that
      transcends trends. Our clothing is not just a fashion statement; it's a
      reflection of the diverse and evolving stories written on the streets of
      this beautiful Danish city.
    </p>

    <p>
      At Unfashioned, we believe in breaking away from conventional fashion
      norms. Our designs draw inspiration from the city's ever-changing
      landscapes, from the picturesque streets of Old Town to the modern
      architecture of Dokk1. Each piece tells a story of urban exploration,
      creativity, and the people who make Aarhus a vibrant and inclusive
      community.
    </p>

    <p>
      We take pride in our commitment to sustainability and quality
      craftsmanship. Every garment is carefully curated, ensuring that it not
      only captures the essence of Aarhus but also stands the test of time.
      Unfashioned is more than clothing; it's a narrative woven into the fabric
      of Aarhus' streets, embracing the past, present, and future.
    </p>

    <p class="lead">
      Join us on this journey as we redefine streetwear, one story at a time.
      Unfashioned: Where Aarhus meets style, and tradition meets the
      avant-garde.
    </p>
  </div>
</section>

<section class="py-5 text-center">
  <div class="container">
    <h1 class="display-4 mb-4 fw-bolder">The Collection</h1>
    <p class="lead"><i>"This is one of our greatest so far"</i></p>

    <div id="featuredCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            @defer (when !!productsInformations) {
            <div class="col" *ngFor="let product of productsInformations">
              <div class="p-3 rounded">
                <img (click)="this.setSelectedProduct(product)" routerLink="/product" src="{{ product.sync_product.thumbnail_url }}" class="img-fluid rounded img-hover"/>
                <div class="p-3">
                  <h5 class="card-title text-center m-3">{{ product.sync_product.name }}</h5>
                  <div class="d-flex justify-content-center">
                    <p>{{ product.sync_variants[0].retail_price + " " + product.sync_variants[0].currency }} </p>
                  </div>
                </div>
              </div>
            </div>
            } @placeholder {
              <div>
                      <div class="placeholder-image placeholder">
                        <i class="fa-solid fa-mountain-sun"></i>
                      </div>
                      <div class="p-3">
                        <h5 class="card-title text-center m-3 placeholder-glow">
                          <span class="placeholder col-6"></span>
                        </h5>
                  
                        <h5 class="card-title text-center m-3 placeholder-glow">
                          <span class="placeholder col-4"></span>
                        </h5>
                      </div>
                    </div>  
                  <div class="col">
                      <div class="placeholder-image placeholder">
                        <i class="fa-solid fa-mountain-sun"></i>
                      </div>
                      <div class="p-3">
                        <h5 class="card-title text-center m-3 placeholder-glow">
                          <span class="placeholder col-6"></span>
                        </h5>
                  
                        <h5 class="card-title text-center m-3 placeholder-glow">
                          <span class="placeholder col-4"></span>
                        </h5>
                      </div>
                    </div>  
                  <div class="col">
                      <div class="placeholder-image placeholder">
                        <i class="fa-solid fa-mountain-sun"></i>
                      </div>
                      <div class="p-3">
                        <h5 class="card-title text-center m-3 placeholder-glow">
                          <span class="placeholder col-6"></span>
                        </h5>
                  
                        <h5 class="card-title text-center m-3 placeholder-glow">
                          <span class="placeholder col-4"></span>
                        </h5>
                      </div>
                    </div>  
            }
          </div>
        </div>
      </div>
      <!--  
          <button class="carousel-control-prev" type="button" data-bs-target="#featuredCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#featuredCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <!-- Left side: Map -->
      @defer {
        <div class="col-lg-6 mb-4">
          <!-- <app-map></app-map> -->
        </div>
      }
      @placeholder {
        <div class="col-lg-6 mb-4">

        </div>
      }
      

      <!-- Right side: Text content -->
      <div class="col-lg-6">
        <h1 class="display-4 mb-4 fw-bolder">Explore Unfashioned</h1>
        <p class="lead">
          Nestled in the heart of Aarhus, Denmark, Unfashioned is more than just
          a streetwear brand; it's a destination. Our store is strategically
          located to immerse you in the vibrant culture and energy of the city.
          As you explore Aarhus, make sure to stop by and experience
          Unfashioned's unique blend of style and tradition.
        </p>
      </div>
    </div>
  </div>
</section>
