<footer class="px-3 py-2 text-bg-dark border-top">
<div class="container">
  <footer class="py-5">
      <div class="row">

        <div class="col-6 col-md-2 mb-3">
          <h1 class="fw-bolder fs-6">HELP CENTER</h1>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQS</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">SHIPPING INFORMATION</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">RETURN POLICY</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">PRIVACY POLICY</a></li>
            <li class="nav-item mb-2"><a routerLink="terms" class="nav-link p-0 text-white">TERMS AND CONDITIONS</a></li>

          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h1 class="fw-bolder fs-6">RESOURCES</h1>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">BLOG</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">CUSTOMER REVIEWS</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">AFFILIATE PROGRAM</a></li>
                    </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h1 CLASS="fw-bolder fs-6">QUICK LINKS</h1>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-white">HOME</a></li>
            <li class="nav-item mb-2"><a routerLink="/store" class="nav-link p-0 text-white">CATALOG</a></li>
            <li class="nav-item mb-2"><a routerLink="/story" class="nav-link p-0 text-white">OUR STORY</a></li>
            <li class="nav-item mb-2"><a routerLink="/contact" class="nav-link p-0 text-white">REACH OUT</a></li>
          </ul>
        </div>

        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h1 class="fw-bolder fs-6">OUR NEWSLETTER</h1>
            <p style="text-transform:uppercase">Monthly updates of what's new and exciting</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-outline-light" type="button">Subscribe</button>
            </div>
          </form>
          
        </div>
      </div>

      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>
          2023 UNFASHIONED
          <br> VAT-nummer: none
        </p>
        
        <ul class="list-unstyled d-flex">
          <li>
            <a href="#" class="text-white" aria-label="Link to our blog">
              <i class="fa-brands fa-instagram fs-3 p-3"></i>
            </a>
          </li>
          <li>
            <a href="#" class="text-white" aria-label="Link to our blog">
              <i class="fa-brands fa-tiktok fs-3 p-3"></i>
            </a>
          </li>
        </ul>
       
      </div>
  </footer>
</div>
</footer>
