<div class="container my-4">
    <div class="row">
      <div class="col-md-6">
        <div class="p-3 rounded">
          <img src="assets/Tshirt1.png" class="img-fluid rounded img-hover" alt="T-shirt Image">
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <h1 class="col-md-8">Title</h1>
          <p class="col-md-4">$100</p>
        </div>
        <p>Subtitle</p>
        
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci aliquid ea est explicabo excepturi minima velit porro, odit corporis dolorem fugiat quos dignissimos dicta recusandae iusto, nostrum possimus nobis nemo!</p>
  
        <div class="col-md-6">
          <button class="btn btn-dark">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
  