<div class="container-fluid mt-5">
  <article>
    <section class="mb-5">
      <div class="bg-light">
        <div class="row">
          <div class="col-md-6">
            <div class="card bg-transparent p-3 border-0">
              <div class="m-5">
                <h2 class="mb-4">We're Here to Help!</h2>
                <p>
                  At Unfashioned, we value your satisfaction and aim to provide the best experience possible. Your feedback is crucial to us, and we want to ensure that any concerns or problems you may have are addressed promptly and effectively.
                  <br><br>
                  If you have any questions, issues, or suggestions, please don't hesitate to reach out. Our dedicated support team is ready to assist you. Your satisfaction is our priority, and we appreciate the opportunity to make things right for you.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-transparent p-3 mb-5 mt-4 border-0">
              <div class="card-body">
                <form>
                  <h2 class="mb-3 font-weight-bold ">Get in touch</h2>
                  <!-- Name Input with FontAwesome icon -->
                  <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" id="name" placeholder="Name" required>
                  </div>
        
                  <!-- Email Input with FontAwesome icon -->
                  <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    <input type="email" class="form-control" id="email" placeholder="Email" required>              
      
                  </div>
        
                  <!-- Message Textarea with FontAwesome icon -->
                  <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-comment"></i></span>
                    <textarea class="form-control" id="message" rows="1" placeholder="Message" required></textarea>
                  </div>
        
                  <!-- Submit Button -->
                  <button type="submit" class="btn btn-dark col-md-12">Send</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</div>