<div class="bg-body-tertiary rounded-3 row">
  <!-- Horizontal Navigation -->
  <div class="col">
    <ul class="list-inline">
      <li class="list-inline-item p-3">
        <a class="text-decoration-none text-dark fw-bold">All</a>
      </li>
      <li class="list-inline-item p-3">
        <a class="text-decoration-none text-dark">Tee's</a>
      </li>
      <li class="list-inline-item p-3">
        <a class="text-decoration-none text-dark">Sweatshirts</a>
      </li>
      <li class="list-inline-item p-3">
        <a class="text-decoration-none text-dark">Bottoms</a>
      </li>
      <li class="list-inline-item p-3">
        <a class="text-decoration-none text-dark">Accessories</a>
      </li>
    </ul>
  </div>

  <!-- Icon in the right corner -->
  <div class="col-auto text-end">
    <div class="p-3">
      <i class="bi bi-list fs-3"></i>
    </div>
  </div>
</div>



<!-- <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="sortFilter">Sort By:</label>
        <select class="form-control" id="sortFilter" (change)="selectedSort">
            <option value="priceLowToHigh">Latest</option>
            <option value="priceLowToHigh">Popular</option>
            <option value="priceLowToHigh">Price Low to High</option>
            <option value="priceHighToLow">Price High to Low</option>
         Add more sorting options as needed
        </select>
      </div>
    </div> -->